# chapter 2

# variables Expression and statments

In [1]:
print("123")

123

In [2]:
print("98.6")

98.6

In [3]:
print("hello world")

hello world

In [4]:
xx=2
xx=xx+2
print (xx)

4

In [5]:
yy=440*12
print(yy)

5280

In [6]:
zz=yy/1000
print(zz)

5.28

In [7]:
jj=23
kk=jj%5
print(kk)

3

In [8]:
print(4**3)

64

In [9]:
x=1+2**3/4*5
print(x)

11.0

In [10]:
ddd=1+4
print(ddd)

5

In [11]:
eee='hello'+'  there'
print(eee)

hello  there

In [12]:
x='hello'+' there'
print(x)
print(type(x))

hello there
<class 'str'>

In [13]:
xx=1
type(xx)

int

In [14]:

print(float(99)+100)

199.0

In [15]:
print(10/2)
print(9/2)
print(99/100)
print(10.0/20.0)
print(99.0/100.0)

5.0
4.5
0.99
0.5
0.99

In [16]:
i=42
type(i)
f=float(i)
print(f)
type(f)

42.0

float

In [17]:
nam = input('who are you?')
print ('welcome , nam')

who are you?chuck
welcome , nam

#  write a program to prompt the user per hours and rate per hour to compute the gross pay

In [18]:
hours=input("enter hours:")
rate=input("enter hourly rate:")
h=float(hours)
r=float(rate)
if h<=35:print(h*r)
else:
    print((h-35)*(2.75*r)+(35*r));

enter hours:35
enter hourly rate:2.75
96.25